In [1]:
import numpy.random as random
import numpy as np
import pandas as pd
from IPython.core.display_functions import display

In [10]:
def generate_data(n = 100, mA = [1.0, 0.5], mB = [-1.0, 0.0], sigmaA = 0.5, sigmaB = 0.5):
    classA = np.vstack((random.randn(1,n) * sigmaA + mA[0],
                        random.randn(1,n) * sigmaA + mA[1],
                        ))
    y_true_A = np.ones((1,n))

    classB = np.vstack((random.randn(1,n) * sigmaB + mB[0],
                        random.randn(1,n) * sigmaB + mB[1],
                        ))
    y_true_B = -np.ones((1,n))

    data = np.concatenate((classA, classB), axis=1)
    y_true = np.concatenate((y_true_A, y_true_B), axis=1)

    data_with_bias = np.vstack((data, np.ones((1, 2*n))))

    return data_with_bias, y_true

data_with_bias, y_true = generate_data()

display(pd.DataFrame(data_with_bias))
display(pd.DataFrame(y_true))

,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
0,1.892654,1.084616,-0.111777,1.230013,0.235704,0.905172,0.493711,1.594008,1.314981,0.733770,...,-1.254167,-0.338942,-0.760977,-0.962425,-0.104566,-1.197177,-0.948006,-0.829566,-1.658237,-1.353478
1,0.460128,-0.407167,-0.132358,-0.348271,0.443717,0.581203,-0.488681,0.752363,0.746750,0.736333,...,0.244792,0.500727,-0.601116,0.540758,-0.166161,-0.381024,0.728458,0.574250,0.947608,0.254973
2,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0

In [ ]:
t = 301:1500;
input = [x(t-20); x(t-15); x(t-10); x(t-5); x(t)];
output = x(t+5);